<mat-card class="queue">
  <mat-card-header class="queue-header">
    <mat-card-title>Playlist</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="playlist$ | async as playlist">
      <mat-selection-list
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [multiple]="false"
        *ngIf="playlist.length"
      >
        <mat-list-option
          class="list-item"
          *ngFor="let video of playlist; let i = index"
          cdkDrag
          [(selected)]="video.selected"
        >
          <div
            matListItemTitle
            class="video-title"
            (click)="onVideoSelected(video)"
          >
            {{ video.title }}
          </div>

          <!-- <span matListItem class="video-index">{{ i + 1 }}</span> -->

          <mat-icon
            matListItemIcon
            class="drag-icon"
            [ngClass]="[dragging ? 'dragging' : '']"
            cdkDragHandle
            fontIcon="drag_indicator"
            matTooltip="Sort item"
          ></mat-icon>
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </mat-card-content>
</mat-card>
