:host {
  display: flex;
  min-height: 3rem;
  justify-content: center;
  background: #202020;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.transport-bar {
  display: flex;
  color: white;
}
