:host {
  display: flex;
  min-height: 3rem;
  justify-content: center;
  background: #e3e3e3;
}

.transport-bar {
  display: flex;

  button {
    display: flex;
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
