<div class="url-input">
  <input
    matInput
    type="text"
    [(ngModel)]="urlInput"
    placeholder="YouTube URL..."
  />
  <button
    mat-icon-button
    (click)="onAddToQueue()"
    [disabled]="!urlInput"
    matTooltip="Add to queue"
  >
    <mat-icon fontIcon="playlist_add"></mat-icon>
  </button>
</div>

<div class="video-player">
  <div class="iframe-wrapper">
    <div id="ytplayer"></div>
  </div>

  <div class="transport-bar">
    <div class="previous-btn">
      <button mat-icon-button (click)="onPrevious()">
        <mat-icon fontIcon="skip_previous"></mat-icon>
      </button>
    </div>
    <div class="play-pause-btn">
      <button mat-icon-button *ngIf="!isPlaying" (click)="onPlay()">
        <mat-icon fontIcon="play_arrow"></mat-icon>
      </button>
      <button
        mat-icon-button
        class="pause-btn"
        *ngIf="isPlaying"
        (click)="onPause()"
      >
        <mat-icon fontIcon="pause"></mat-icon>
      </button>
    </div>
    <div class="stop-btn">
      <button mat-icon-button (click)="onStop()">
        <mat-icon fontIcon="stop"></mat-icon>
      </button>
    </div>
    <div class="next-btn">
      <button mat-icon-button (click)="onNext()">
        <mat-icon fontIcon="skip_next"></mat-icon>
      </button>
    </div>
  </div>

  <div class="queue">
    <h5>Queue</h5>
    <mat-list>
      <mat-list-item *ngFor="let video of queue">
        <button mat-raised-button (click)="onLoadVideo(video)">
          {{ video.title }}
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
