:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  max-height: calc(100% - 5rem);
}

.url-input {
  display: flex;
  width: 100%;
  min-width: 50vw;

  mat-form-field,
  input {
    width: 100%;
    height: 100%;
  }

  .add-btn {
    height: 100%;

    mat-icon {
      display: block;
    }
  }

  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none !important;
  }
}

.video-player {
  display: flex;
  flex-direction: column;
  height: 100%;

  .video-section {
    height: 40%;
    display: contents;
  }

  .playlist-section {
    height: 60%;
    display: contents;
  }

  .draggable-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #c6c7cc;
    height: 1px;
  }

  .iframe-wrapper {
    display: flex;
    justify-content: center;
    min-height: 360px;
    background-color: #0000006e;
  }
}

mat-icon {
  margin: 0 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 1.5rem !important;
}
