<div class="video-player">
  <div class="video-section">
    <div class="iframe-wrapper">
      <div id="ytplayer"></div>
    </div>
  </div>
  <!-- <div matTooltip="drag" class="draggable-divider"></div> -->
  <div class="playlist-section">
    <div class="url-input">
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="urlInput"
          placeholder="YouTube URL..."
        />
        <button
          class="add-btn"
          mat-icon-button
          [color]="addBtn.disabled ? 'secondary' : 'primary'"
          (click)="onCueVideo()"
          [disabled]="!urlInput"
          matTooltip="Add to playlist"
          matSuffix
          #addBtn
        >
          <mat-icon fontIcon="playlist_add"></mat-icon>
        </button>
      </mat-form-field>
    </div>

    <app-play-queue></app-play-queue>
  </div>
</div>
