:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.url-input {
  display: flex;
  width: 100%;
  min-width: 50vw;
  margin-bottom: 1rem;

  input {
    width: 100%;
  }
}

.video-player {
  display: flex;
  flex-direction: column;
  height: 100%;

  .iframe-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    min-height: 360px;
    background-color: #0000006e;
  }
}
